/*	=	=	=	Colors	=	=	=	
*Grey - #c2c2c2
* 	194-194-194
* Bright Orange - #aa3c17
* 	170-60-23
* Dark Orange - #652f1d
* 	101-47-29
* Blue Black - #252328
* 	37-35-40 42% opacity
* Dark Red - #380f0e
* 	56-15-14 17% opacity
* Pale Orange - #a57861
* 	165-120-97
*/


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Counter Reset
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
							  Body Styles
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

body {
	text-align: center;
	font-size: 62.5%;
	background: url(../images/dark_wood.png);
}

#wrap {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	background: rgba(37, 35, 40, .7);
}

#content {
	margin: 60px 0 20px 30px;
}

/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
							  Text and fonts
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

h2 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 2.500em;
	color: #a57861;
	margin-bottom: 15px;
}

h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2.100em;
	color: #aa3c17;
	margin: 3px 0 8px 0;
}

h4{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.900em;
	color: #652f1d;
	margin: 5px 0 3px 0;
}

p, li.specialText {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.700em;
	color: #c2c2c2;
}

label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.800em;
	color: #652F1D;	
}

a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.800em;
	color: #A57861;
	text-decoration: none;
	border-bottom: 1px solid #A57861;	
}



/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Header
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#logo {
	float: left;
	width: 370px;
	margin: 10px 80px 0 20px;
}

#headerNav a {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 2.100em;
	color: #C2C2C2;
	text-decoration: none;
	border-bottom: none;	
	display: block;
	width: 100%;
}

#headerNav a:hover {
	color: #A57861;
	border-bottom: 1px solid #A57861;
}

#headerNav a:active {
	color: #A57861
	border-bottom: 1px solid #A57861;
}

/*css transition for hover*/

#headerNav {
	padding-top: 40px;
}

#headerNav ul {
	clear: left;
	text-align: center;
}

#headerNav li {
	display: inline;
	float: left;
	margin: 5px 15px 5px 5px;
}


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Home
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#sliderFrame {
	margin-top: 10px;
}

#secondContent {
	margin-top: 50px;
}

#newMenu {
	float: left;
	width: 440px;
	margin-right: 20px;
	text-align: center;
}

#contactUs {
	text-align: center;
}

/*	=	=	=	=	Third Content	=	=	=	=	*/

#thirdContent {
	margin-top: 60px;
}

.secondaryInfo {
	margin-top: 30px;
}

#about {
	float: left;
	width: 520px;
	margin: 0 20px 0 0;
}

#bbq {
	float: left;
	width: 520px;
	margin-right: 20px;
}

#bbq p {
	margin-bottom: 10px;
}




/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Menu
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

/*	=	=	=	=	Easy Tabs	=	=	=	=	*/

#tab-container {
	background-color: rgba(56, 15, 14, .1);
	width: 940px;
	height: 950px;
}

.etabs { 
	margin: 0; 
	padding: 0; 
}

.tab { 
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	background: rgba(194, 194, 194, .5); 
	border-bottom: none; 
	margin-bottom: 3px;
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
}

.tab a { 
	font-size: 14px; 
	color: #000;
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none; 
}

.tab a:hover { 
	text-decoration: underline; 
}

.tab.active { 
	background: #C2C2C2; 
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
}

.tab a.active { 
	color: #4A352A;
	font-weight: bold; 
}

.tab-container .panel-container { 
	background: #fff; 
	border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px;
}

/*	=	=	=	= Inside the tabs	=	=	=	=	*/

#appetizers, #burgers, #sideItems, #sliders, #greens, #bonfire, #goods, #little, #dessert, #breakfast {
	padding: 5px 0 0 15px;
}

.col1 {
	width: 260px;
	float: left;
	margin: 5px 15px 3px 8px;
}

.col1 h4 {
	margin: 10px 0 2px 0;
}

.col2 {
	width: 260px;
	float: left;
	margin: 5px 15px 3px 8px;
}

.col2 h4 {
	margin: 10px 0 2px 0;
}

.col3 {
	width: 260px;
	float: left;
	margin: 5px 15px 3px 8px;
}

.col3 h4 {
	margin: 10px 0 2px 0;
}

.description {
	margin: 3px 0 7px 0;
}

#sandwiches {
	clear: left;
	padding-top: 20px;
}

#melts {
	clear: left;
	margin-top: 20px;
}

/*	=	= Breakfast	=	=	*/

#breakfastSandwich {
	clear: left;
	padding-top: 20px;
}

#pancakes {
	clear: left;
	padding-top: 20px;
}

#omelette {
	clear: left;
	padding-top: 20px;
}

#specialties {
	clear: left;
	padding-top: 20px;
}

/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Specials
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#happyHour {
	width: 400px;
	float: left;
	padding-right: 40px;
}

#happyHour h4, ul {
	margin-left: 10px;
}

.specialText {
	line-height: 25px;
}

#specialImg {
	padding-bottom: 50px;
}

#days {
	clear: left;
	width: 400px;
	float: left;
	padding-right: 90px; 
}

#days p, ul{
	margin-left: 10px;
}

#days p {
	line-height: 25px;
}

#images img {
	padding: 10px 0 10px 0;
}



/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Contact
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

/*	=	=	=	=	Directions	=	=	=	=	*/

#find {
	background: rgba(79, 49, 49, .2);
	width: 940px;
	height: 340px;
}

#find h3 {
	padding: 10px 0 0 10px;
}

#directions {
	float: left;
	text-align: center;
	margin: 50px 100px 0 150px;
}

/*	=	=	=	=	Contact	=	=	=	=	*/

#contact {
	background: rgba(79, 49, 49, .2);
	width: 410px;
	height: 400px;
	float: left;
	margin-top: 30px;
}

#contact h3 {
	padding: 7px 0 0 10px;
}

#contact form {
	margin: 10px 0 0 25px;
}

.input {
	width: 200px;
	margin: 5px 0 8px 0;
}

#aboutSelect {
	width: 200px;
	margin: 5px 0 8px 0;
}

textarea {
	margin-top: 5px;
	width: 300px;
	height: 110px;
}

#sendBtn {
	margin: 20px 0 0 225px;
}

/*	=	=	=	=	Feedback	=	=	=	=	*/

#feedback {
	background: rgba(79, 49, 49, .2);
	width: 410px;
	height: 600px;
	margin-top: 30px;
	margin-left: 500px;
}

#feedback h3 {
	padding: 10px 0 0 10px;
}

.instruct {
	width: 400px;
	margin: 5px 0 5px 15px;
}

#feedback label {
	margin: 2px 10px 5px 20px;
}

#feedEmail {
	margin: 3px 0 5px 17px;
	width: 300px;
}

.radioDiv {
	margin: 2px 0 2px 40px;
}

.radioDiv input {
	margin-right: 10px;
	margin-bottom: 3px;
}

#feedback textarea {
	margin: 8px 0 0 17px;
	width: 300px;
	height: 140px;
}

#feedbackBtn {
	margin: 10px 0 0 230px;
} 

/*	=	=	=	=	Work Interest	=	=	=	=	*/

#workInterest {
	background: rgba(79, 49, 49, .2);
	width: 410px;
	height: 175px;
	position: absolute;
	top: 930px;
	margin-top: 5px;
}

#workInterest h3 {
	padding: 10px 0 0 10px;
}

#workInterest p {
	margin: 5px 0 0 12px;
}

#workInterest a {
	margin: 5px 0 0 260px;
}

/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Employment Application
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

/*	=	=	=	=  General Info	=	=	=	=	*/

#general {
	background: rgba(79, 49, 49, .2);
	width: 930px;
	height: 200px;
}

#general h3 {
	padding: 7px 0 0 10px;
}

#general label {
	margin: 0 8px 0 10px;
}

#general textarea {
	margin: 5px 0 0 12px;
	width: 500px;
	height: 75px;
}

/*	=	=	=	=	Personal Info 	=	=	=	=	*/

#personal {
	background: rgba(79, 49, 49, .2);
	width: 930px;
	height: 225px;
	margin-top: 20px;
}

#wholeName {
	margin-bottom: 10px;
}

#personal h3 {
	padding: 7px 0 0 10px;
}

#personal label {
	display: block;
	margin: 5px 0 5px 12px;
}

#personal input {
	margin: 0 0 0 12px;
}

/*	=	=	Name	=	=	*/

#wholeName {
	margin: 0 0 10px 0;
}

#firstName, #lastName {
	width: 200px;
}

#fName {
	width: 220px;
	float: left;
}

#mName {
	width: 70px;
	float: left;
}

#mi {
	width: 50px;
}

#lName {
	width: 210px;
	float: left;
}

/*	=	=	Address	=	=	*/

#streetAdd {
	clear: left;
}

#adrs {
	width: 300px;
	float: left;
}

#street {
	width: 275px;
}

#cit {
	width: 170px;
	float: left;
}

#st {
	width: 70px;
	float: left;
}

#state {
	width: 50px;
}

#zp {
	width: 110px;
	float: left;
}

#zip {
	width: 100px;
}

/*	=	=	Contact Info	=	=	*/

#contactInfo {
	clear: left;
}

#pNumber {
	width: 160px;
	float: left;
}

#phone {
	width: 140px;
}

#eAdd {
	width: 210px;
	float: left;
}

#appEmail {
	width: 200px;
}

/*	=	=	=	=	Work Experience	=	=	=	*/

#experience {
	background: rgba(79, 49, 49, .2);
	width: 930px;
	height: 780px;
	clear: left;
	margin-top: 20px;
}

#experience h3 {
	padding: 7px 0 0 10px;
}

#experience label {
	margin: 0 5px 0 10px;
}

#previous {
	padding-bottom: 10px;
}

/*	=	=	check box	=	=	*/
.grey {
	color: #C2C2C2
}

#check input {
	margin: 0 3px 0 3px;
}

/*	=	=	Position	=	=	*/

.position label {
	display: block;
}

.position input {
	margin: 5px 0 8px 10px;
}

.emp {
	width: 320px;
	float: left;
}

#currentEmp, #previousEmp, #previousTwoEmp {
	width: 300px;
}

.pos {
	width: 320px;
	float: left;
}

#currentPos, #previousPos, #previousTwoPos {
	width: 300px;
}

/*	=	=	Employed Since	=	=	*/

.since {
	clear: left;
}

.since label {
	display: block;
}

.since input {
	margin: 5px 0 8px 10px;
}

.es {
	width: 320px;
	float: left;	
}

#empSince {
	width: 260px;
}

.ef, .ep {
	width: 220px;
	float: left;
}

#empFrom, #empPrev, #empFromTwo, #empPrevTwo {
	width: 175px;
}

.super {
	width: 320px;
	float: left;
}

#supervisor, #supervisorPrev, #supervisorPrevTwo {
	width: 300px;
}

/*	=	=	Contact Info	=	=	*/

.currentAdd, .previousAdd {
	clear: left;
}

.currentAdd label {
	display: block;
}

.previousAdd label {
	display: block;
}

.currentAdd input {
	margin: 5px 0 0px 10px;
}

.previousAdd input {
	margin: 5px 0 8px 10px;
}

.ccity {
	width: 245px;
	float: left;
}

#currentCity, #prevCity, #prevCityTwo {
	width: 225px;
}

.cst {
	width: 70px;
	float: left;
}

#currentSt, #previousSt, #previousStTwo {
	width: 50px;
}

.czip {
	width: 140px;
	float: left;
}

#currentZip, #previousZip, #previousZipTwo {
	width: 120px;
}

.cphone {
	width: 180px
	float: left;
}

#currentPhone, #previousPhone, #previousPhoneTwo {
	width: 160px;
}

.crate label {
	display: block;
}

#currentRate, #prevousRate, #prevousRateTwo {
	width: 100px;
	margin: 5px 0 8px 10px
}

#previous, #previousTwo {
	margin-top: 20px;
}

.prevRate label {
	display: block;
}

.prevRate {
	width: 120px;
	float: left;	
}

#leaving, #leavingTwo {
	margin: 5px 8px 0 10px;
	width: 700px;
}

/*	=	=	=	=	Military	=	=	=	=	*/

#military {
	background: rgba(79, 49, 49, .2);
	width: 930px;
	height: 140px;
	margin-top: 20px;
}

#military h3 {
	padding: 7px 0 0 10px;
}

#milCheck label {
	margin: 0 5px 0 3px;
}

#milCheck input {
	5px 0 8px 10px;
}

#milBranch label, #milSpecial label, #milRank label {
	display: block;
	margin: 5px 0 3px 0;
}

#milBranch {
	width: 280px;
	float: left;
}

#branch {
	width: 260px
}

#milSpecial {
	width: 280px;
	float: left;
}

#special {
	width: 260px
}

#milRank {
	width: 280px;
	float: left;
}

#rank {
	width: 260px
}


/*	=	=	=	=	Legal	=	=	=	=	*/

#legal {
	background: rgba(79, 49, 49, .2);
	width: 930px;
	height: 250px;
	margin-top: 20px;
}

#legal h3 {
	padding: 7px 0 0 10px;
}

#legal label {
	margin: 0 5px 5px 10px;
}

#firedReason label, #explainCrime label {
	display: block;
}

#firedReason input, #explainCrime input {
	margin: 3px 0 5px 10px;
	width: 860px;
}

#empClear {
	margin: 15px 20px 0 675px;
}

#empSubmitBtn {
	margin-top: 15px;
}




/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Button
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.btn {
	border: none;
   background: #4a352a;
   background: -webkit-gradient(linear, left top, left bottom, from(#a57861), to(#4a352a));
   background: -webkit-linear-gradient(top, #a57861, #4a352a);
   background: -moz-linear-gradient(top, #a57861, #4a352a);
   background: -ms-linear-gradient(top, #a57861, #4a352a);
   background: -o-linear-gradient(top, #a57861, #4a352a);
   padding: 5px 17px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #000000;
   font-size: 1.700em;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   text-decoration: none;
   vertical-align: middle;
}

.btn:hover {
   background: #4a352a;
   color: #ccc;
}

.btn:active {
   background: #a57861;
}

/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Footer
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#footer {
	margin: 120px 0 0 45px;
	padding-bottom: 150px;
	clear: left;
}

#footer a {
	border-bottom: none;
}

#footerNav {
	margin: 5px 0 30px 0;
}

#footerNav a {
	font-size: 2.000em;
	text-decoration: none;
	border-bottom: none;
	display: block;
	width: 80px;
	text-align: center;
}

#footerNav ul {
	margin: 0 auto;
}

#footerNav li {
	display: inline;
	width: 80px;
	float: left;
	margin-right: 15px; 
}

#location {
	margin: 20px 20px 0 10px;
	clear: left;
	width: 200px;
	float: left;
}

#hours {
	margin: 30px 5px 0 0;
	width: 400px;
	float: left;
}

#social {
	float: left;
	margin: 40px 50px 0 0;
}
