/*	=	=	=	Colors	=	=	=	
*Grey - #c2c2c2
* 	194-194-194
* Bright Orange - #aa3c17
* 	170-60-23
* Dark Orange - #652f1d
* 	101-47-29
* Blue Black - #252328
* 	37-35-40 42% opacity
* Dark Red - #380f0e
* 	56-15-14 17% opacity
* Pale Orange - #a57861
* 	165-120-97
*/


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Counter Reset
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	opacity: 0.6;
}


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
							  Body Styles
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

body {
	text-align: center;
	font-size: 62.5%;
	background: url(../images/dark_wood.png);
}

#wrap {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	background: rgba(37, 35, 40, .7);
}

#content {
	margin: 60px 0 0 45px;
}

/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
							  Text and fonts
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

h2 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 2.500em;
	color: #a57861;
}

h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2.200em;
	color: #aa3c17;
}

h4{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.900em;
	color: #652f1d;
}

p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.800em;
	color: #c2c2c2;
}

label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.800em;
	color: #652F1D;	
}

a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.800em;
	color: #A57861;
	text-decoration: none;
	border-bottom: 1px solid #A57861;	
}



/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Header
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#logo {
	float: left;
	width: 370px;
	margin: 10px 80px 0 20px;
}

#headerNav a {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 2.200em;
	color: #C2C2C2;
	text-decoration: none;
	border-bottom: none;	
	display: block;
	width: 100%;
}

#headerNav a:hover {
	color: #A57861;
	border-bottom: 1px solid #A57861;
}

#headerNav {
	padding-top: 40px;
}

#headerNav ul {
	clear: left;
	text-align: center;
}

#headerNav li {
	display: inline;
	float: left;
	margin: 5px 15px 5px 5px;
}


/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Home
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#carousel {
	margin-top: 10px;
}

#secondContent {
	margin-top: 50px;
}

#newMenu {
	float: left;
	width: 440px;
	margin-right: 20px;
}

/*	=	=	=	=	Third Content	=	=	=	=	*/

#thirdContent {
	margin-top: 50px;
}

.secondaryInfo {
	margin-top: 30px;
}

#about {
	float: left;
	width: 520px;
	margin-right: 20px;
}

#bbq {
	float: left;
	width: 520px;
	margin-right: 20px;
}



/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Menu
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/




/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Specials
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/




/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Contact
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/




/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Employment Application
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/





/*	=	=	=	=	=	=	=	=	= 	=	=	=	=	=	=	=	=	=
								Footer
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/




