<div id="footer">
		
	<ul id="footerNav">
		<a href="#"><li>Home</li></a>
		<a href="#"><li>Menu</li></a>
		<a href="#"><li>Specials</li></a>
		<a href="#"><li>Contact</li></a>
	</ul><!-- footerNav -->
	
	<div id="address">
		<h3>Bonfires in Oviedo</h3>
		<p>
			1340 Alafaya Trail<br />
			Ovideo Fl, 32765<br />
			(407) 366 - 4073<br />
		</p>
	</div><!-- address -->
	
	<div id="hours">
		<p>Monday-Thursday - 11am-1am</p>
		<p>Friday - 11am-2am</p>
		<p>Saturday - 7am-2am</p>
		<p>Sunday - 7am-12 midnight</p>
	</div>
	
	<div id="social">
		
		<!-- facebook -->
		<a href="https://www.facebook.com/bonfiresoviedo"><img src="images/social/facebook.png" alt="Bonfires facebook link"/></a>
		
		<!-- twitter -->
		<a href="https://twitter.com/Bonfiresoviedo"><img src="images/social/twitter.png" alt="Bonfires twitter link" /></a>
		
		<!-- youtube -->
		<a href="http://www.youtube.com/bonfiresbarandgrill"><img src="images/social/youtube.png" alt="Bonfires youtube link" /></a>
		
	</div>
	
</div><!-- footer -->

</div><!-- wrap -->
	
</body>
	
</html>