<div id="content">
		
	<div id="sliderFrame">
		<div id="slider">
		  <img src="images/carousel/food-text.jpg" alt="Recognized for best bbq!"/>
		  <img src="images/carousel/football.jpg" alt="Sunday Night Football" />
		  <img src="images/carousel/front.jpg" alt="Front of Bonfires"/>
		  <img src="images/carousel/CarouselImage4.jpg" />
		  <img src="images/carousel/CarouselImage5.jpg" />
		  <!-- images need to be 930x300 -->
		</div><!-- slider -->
	</div><!-- sliderFrame -->
	
	<div id="secondContent">
		<div id="newMenu">
			
			<img src="images/food2.jpg"  alt="Checkout our brand new menu"/><br />
			
			<!-- goes to the menu page -->
			<a href="?action=menu" class="reglink">Checkout our brand new menu</a>
			
		</div><!-- newMenu -->
		
		<div id="contactUs">
			
			<img src="images/keepCalm.jpg" alt="questions or concerns?"/><br />
			
			<!-- goes to the contact page -->
			<a href="?action=contact" class="reglink">Questions or Concerns?</a>
			
		</div><!-- contactUs -->
	</div><!-- secondContent -->
	
	<div id="thirdContent">
	
		<!-- about Bonfires -->
		<div class="secondaryInfo">
			
			<div id="about">
				<h3>About Bonfires</h3>
				<p>
					Bonfires Bar &amp; Grill is committed to delivering quality in everything we do. From our products to our friendly staff, 
					great service and great food is more than just a goal. It’s a guarantee.  
					Our slow smoked meats, numerous LED TVs and Bonfires’ girls are sure to make us your neighborhood BBQ restaurant of choice. 
					More than just a bar and grill, we aim to please the customer and deliver you the “smokin’ hot” experience you can only find at Bonfire Bar &amp; Grill.
				</p>
				
			</div><!-- about -->
			
			<img src="images/girls.jpg" alt="Image of Bonfires" />
			
		</div><!-- secondaryInfo -->
		
		<!-- Better BBQ -->
		<div class="secondaryInfo">
			
			<div id="bbq">
				<h3>Why we do BBQ better</h3>
				<p>
					What allows us to achieve this perfection comes down to our unique spice rubs, the time we allow that meat to cook, 
					and a selection of sauces to satisfy any pallet from any region. We don't just want to be another barbecue joint or sports bar. 
					We want to deliver on our commitment and be the place you call YOUR barbecue joint and sports bar.
				</p>		
				
				<h3>Our Commitment to You</h3>
				<p>
					What allows us to achieve this perfection comes down to our unique spice rubs, the time we allow that meat to cook, 
					and a selection of sauces to satisfy any pallet from any region. We don't just want to be another barbecue joint or sports bar. 
					We want to deliver on our commitment and be the place you call YOUR barbecue joint and sports bar.
				</p>			
			</div><!-- bbq -->
			
			<img src="images/food3.jpg" alt="Image of our bbq" />
			
		</div><!-- secondaryInfo -->
		
	</div><!-- thirdent -->
	
</div><!-- content -->