<div id="content">
		
	<img src="http://placehold.it/800x300&text=Image+carousel" />
	
	<div id="newMenu">
		
		<img src="http://placehold.it/400x300"  alt="Checkout our brand new menu"/>
		
		<!-- goes to the menu page -->
		<a href="#">Checkout our brand new menu</a>
		
	</div><!-- newMenu -->
	
	<div id="contactUs">
		
		<img src="http://placehold.it/400x300" alt="questions or concerns?"/>
		
		<!-- goes to the contact page -->
		<a href="#">Questions or Concerns?</a>
		
	</div><!-- contactUs -->
	
	<div id="secondaryContent">
	
		<!-- about Bonfires -->
		<div class="secondaryInfo">
			
			<div id="about">
				<h3>About Bonfires</h3>
				<p>
					Cupcake ipsum dolor sit amet danish. Pie candy canes dessert gingerbread lemon drops
					biscuit bicsuit. Sweet roll sweet chocolate cheesecake croissant applicake carrot cake.
					Souffle cotton candy topping marchmallow sesame snaps cookie gummi bears chocolate bar 
					muffin souffle pie bear claw. Liqourice jelly beans lollipop caramels jell-o applie pie.
				</p>
			</div><!-- about -->
			
			<img src="http://placehold.it/350x250" alt="Image of Bonfires" />
			
		</div><!-- secondaryInfo -->
		
		<!-- Better BBQ -->
		<div class="secondaryInfo">
			
			<div id="bbq">
				<h3>Why we do BBQ better</h3>
				<p>
					Cupcake ipsum dolor sit amet danish. Pie candy canes dessert gingerbread lemon drops
					biscuit bicsuit. Sweet roll sweet chocolate cheesecake croissant applicake carrot cake.
					Souffle cotton candy topping marchmallow sesame snaps cookie gummi bears chocolate bar 
					muffin souffle pie bear claw. Liqourice jelly beans lollipop caramels jell-o applie pie.
				</p>					
			</div><!-- bbq -->
			
			<img src="http://placehold.it/350x250" alt="Image of our bbq" />
			
		</div><!-- secondaryInfo -->
		
	</div><!-- secondaryContent -->
	
</div><!-- content -->