<div id="content">
		
	<h2>Bonfires Menu</h2>
		
		
	<div id="tab-container" class="tab-container">
		
	  <ul class='etabs'>
	    <li class='tab'><a href="#appetizers">Appetizers</a></li>
	    <li class='tab'><a href="#burgers">Burgers</a></li>
	    <li class='tab'><a href="#sandwiches">Sandwiches</a></li>
	    <li class='tab'><a href="#sideItems">Side Items</a></li>
	    <li class='tab'><a href="#sliders">Sliders</a></li>
	    <li class='tab'><a href="#melts">Melts</a></li>
	    <li class='tab'><a href="#greens">Greens and Soups</a></li>
	    <li class='tab'><a href="#bonfire">From the Bonfire</a></li>
	    <li class='tab'><a href="#goods">Just the Goods</a></li>
	    <li class='tab'><a href="#little">Lil' Ones</a></li>
	    <li class='tab'><a href="#dessert">Dessert</a></li>
	    <li class='tab'><a href="#breakfast">Breakfast</a></li>
	  </ul>
	  
	  
	  <div id="appetizers">
	  <h3>Appetizers</h3>
	    
	  	<div class="col1">
		  	<h4>Campfire Nachos</h4>
			<p class="description">
				Crispy tortilla Chips topped with cheddar jack cheese, Bonfires's black bean salsa &amp; loaded with your choice of pulled pork,
				chicken, or beef brisket &amp; drizzled with Bonfires BBQ sauce.
			</p><!-- description -->
			
			<h4>Balls of Heat</h4>
			<p class="description">
				Lightly breaded &amp; fried combination of jalapeno and jack cheese. Served with chipotle ranch
			</p><!-- description -->
			
			<h4>Fried Green Tomatoes</h4>
			<p class="description">
				Southern favorite, served with Bonfires sauce
			</p><!-- description -->
			
			<h4>Corn Nugets</h4>
			<p class="description">
				Batter dipped sweet corn nuggets with powdered sugar
			</p><!-- description -->
			
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Bonfire Bones</h4>
			<p class="description">
				Sample of our slow smoked St. Louis Ribs
			</p><!-- description -->
			
			<h4>Smoked Wings</h4>
			<p class="description">
				Three lightly seasons whole smoked chicken wings
			</p><!-- description -->
			
			<h4>Onion Thangs</h4>
			<p class="description">
				Seasoned, Battered &amp; golden fried with Bonfires Sauce
			</p><!-- description -->
			
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Stuffed Skins</h4>
			<p class="description">
				Potato skins stuffed with cheddar jack cheese, &amp; your choice of pulled pork, chicken or beef brisket, &amp; Scallions
			</p><!-- description -->
			
			<h4>Quesadilla</h4>
			<p class="description">
				Flour tortilla filled with cheedar jack cheese, Bonfires black bean corn calsa &amp; your choice of pulled pork, chicken or beef brisket
			</p><!-- description -->
			
			<h4>Jalapeno Onion Stack</h4>
			<p class="description">
				Blended jalapeno &amp; onion fries with chipotle ranch
			</p><!-- description -->
			
		</div><!-- col3 -->
		
		
	    
	  </div><!-- appetizers -->
	  
	  <div id="burgers">
	    <h3>Burgers</h3>
	    <!-- content -->
	  </div><!-- burgers -->
	  
	  <div id="sandwiches">
	    <h3>Sandwiches</h3>
	    <!-- content -->
	  </div><!-- sandwiches -->
	  
	  <div id="sideItems">
	    <h3>Side Items</h3>
	    <!-- content -->
	  </div><!-- sideItems -->
	  
	  <div id="sliders">
	    <h3>Sliders</h3>
	    <!-- content -->
	  </div><!-- sliders -->
	  
	  <div id="melts">
	    <h3>Melts</h3>
	    <!-- content -->
	  </div><!-- melts -->
	  
	  <div id="greens">
	    <h3>Greens and Soups</h3>
	    <!-- content -->
	  </div><!-- greens -->
	  
	  <div id="bonfire">
	    <h3>From the Bonfire</h3>
	    <!-- content -->
	  </div><!-- bonfire -->
	  
	  <div id="goods">
	    <h3>Just the Goods</h3>
	    <!-- content -->
	  </div><!-- goods -->
	  
	  <div id="little">
	    <h3>Lil' Ones</h3>
	    <!-- content -->
	  </div><!-- little -->
	  
	  <div id="dessert">
	    <h3>Dessert</h3>
	    <!-- content -->
	  </div><!-- dessert -->
	  
	  <div id="breakfast">
	    <h3>Breakfast</h3>
	    <!-- content -->
	  </div><!-- breakfast -->

	  
	</div><!-- tab-container -->
		
		
		

		

		
			
		
			
		
			
			
			
			
		
		
			
		
			
	
	
	
</div><!-- content -->