<div id="content">
		
	<h2>Bonfires Menu</h2>
	
	 <!-- appetizers burgers sandwiches sideItems sliders melts greens
	 bonfire goods little dessert breakfast -->
		
		
	<div id="tab-container" class="tab-container">
		
	  <ul class='etabs'>
	    <li class='tab'><a href="#appetizers">Appetizers</a></li>
	    <li class='tab'><a href="#burgers">Burgers</a></li>
	    <li class='tab'><a href="#sandwiches">Sandwiches</a></li>
	    <li class='tab'><a href="#sideItems">Side Items</a></li>
	    <li class='tab'><a href="#sliders">Sliders</a></li>
	    <li class='tab'><a href="#melts">Melts</a></li>
	    <li class='tab'><a href="#greens">Greens and Soups</a></li>
	    <li class='tab'><a href="#bonfire">From the Bonfire</a></li>
	    <li class='tab'><a href="#goods">Just the Goods</a></li>
	    <li class='tab'><a href="#little">Lil' Ones</a></li>
	    <li class='tab'><a href="#dessert">Dessert</a></li>
	    <li class='tab'><a href="#breakfast">Breakfast</a></li>
	  </ul>
	  
	  
	  <div id="appetizers">
	    <h3>Appetizers</h3>
	    <!-- content -->
	  </div><!-- appetizers -->
	  
	  <div id="burgers">
	    <h3>Burgers</h3>
	    <!-- content -->
	  </div><!-- burgers -->
	  
	  <div id="sandwiches">
	    <h3>Sandwiches</h3>
	    <!-- content -->
	  </div><!-- sandwiches -->
	  
	  <div id="sideItems">
	    <h3>Side Items</h3>
	    <!-- content -->
	  </div><!-- sideItems -->
	  
	  <div id="sliders">
	    <h3>Sliders</h3>
	    <!-- content -->
	  </div><!-- sliders -->
	  
	  <div id="melts">
	    <h3>Melts</h3>
	    <!-- content -->
	  </div><!-- melts -->
	  
	  <div id="greens">
	    <h3>Greens and Soups</h3>
	    <!-- content -->
	  </div><!-- greens -->
	  
	  <div id="bonfire">
	    <h3>From the Bonfire</h3>
	    <!-- content -->
	  </div><!-- bonfire -->
	  
	  <div id="goods">
	    <h3>Just the Goods</h3>
	    <!-- content -->
	  </div><!-- goods -->
	  
	  <div id="little">
	    <h3>Lil' Ones</h3>
	    <!-- content -->
	  </div><!-- little -->
	  
	  <div id="dessert">
	    <h3>Dessert</h3>
	    <!-- content -->
	  </div><!-- dessert -->
	  
	  <div id="breakfast">
	    <h3>Breakfast</h3>
	    <!-- content -->
	  </div><!-- breakfast -->

	  
	</div><!-- tab-container -->
		
		
		

		

		
			
		
			
		
			
			
			
			
		
		
			
		
			
	
	
	
</div><!-- content -->