<div id="content">
		
	<h2>Bonfires Menu</h2>
		
		
	<div id="tab-container" class="tab-container">
		
	  <ul class='etabs'>
	    <li class='tab'><a href="#appetizers">Appetizers</a></li>
	    <li class='tab'><a href="#burgers">Burgers</a></li>
	    <li class='tab'><a href="#sandwiches">Sandwiches</a></li>
	    <li class='tab'><a href="#sideItems">Side Items</a></li>
	    <li class='tab'><a href="#sliders">Sliders</a></li>
	    <li class='tab'><a href="#melts">Melts</a></li>
	    <li class='tab'><a href="#greens">Greens and Soups</a></li>
	    <li class='tab'><a href="#bonfire">From the Bonfire</a></li>
	    <li class='tab'><a href="#goods">Just the Goods</a></li>
	    <li class='tab'><a href="#little">Lil' Ones</a></li>
	    <li class='tab'><a href="#dessert">Dessert</a></li>
	    <li class='tab'><a href="#breakfast">Breakfast</a></li>
	  </ul>
	  
	  
	  <div id="appetizers">
	  <h3>Appetizers</h3>
	    
	  	<div class="col1">
		  	<h4>Campfire Nachos</h4>
			<p class="description">
				Crispy tortilla Chips topped with cheddar jack cheese, Bonfires's black bean salsa &amp; loaded with your choice of pulled pork,
				chicken, or beef brisket &amp; drizzled with Bonfires BBQ sauce.
			</p><!-- description -->
			
			<h4>Balls of Heat</h4>
			<p class="description">
				Lightly breaded &amp; fried combination of jalapeno and jack cheese. Served with chipotle ranch
			</p><!-- description -->
			
			<h4>Fried Green Tomatoes</h4>
			<p class="description">
				Southern favorite, served with Bonfires sauce
			</p><!-- description -->
			
			<h4>Corn Nugets</h4>
			<p class="description">
				Batter dipped sweet corn nuggets with powdered sugar
			</p><!-- description -->
			
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Bonfire Bones</h4>
			<p class="description">
				Sample of our slow smoked St. Louis Ribs
			</p><!-- description -->
			
			<h4>Smoked Wings</h4>
			<p class="description">
				Three lightly seasons whole smoked chicken wings
			</p><!-- description -->
			
			<h4>Onion Thangs</h4>
			<p class="description">
				Seasoned, Battered &amp; golden fried with Bonfires Sauce
			</p><!-- description -->
			
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Stuffed Skins</h4>
			<p class="description">
				Potato skins stuffed with cheddar jack cheese, &amp; your choice of pulled pork, chicken or beef brisket, &amp; Scallions
			</p><!-- description -->
			
			<h4>Quesadilla</h4>
			<p class="description">
				Flour tortilla filled with cheedar jack cheese, Bonfires black bean corn calsa &amp; your choice of pulled pork, chicken or beef brisket
			</p><!-- description -->
			
			<h4>Jalapeno Onion Stack</h4>
			<p class="description">
				Blended jalapeno &amp; onion fries with chipotle ranch
			</p><!-- description -->
			
		</div><!-- col3 -->
		
	    
	  </div><!-- appetizers -->
	  
	  <div id="burgers">
	    <h3>Burgers</h3>
	    
	    <p class="intro">
		Smoked Angus Chuck burger served on a Kaiser with lettuce, tomato, onion &amp; pickles with your choice of a side item
		</p>
		
		<div class="col1">
			<h4>Bonfire Burger</h4>
			<p class="description">
				Cheddar Jack cheese, fried eggs and bacon
			</p><!-- description -->
			
			<h4>Bonfires blues</h4>
			<p class="description">
				Blackened Angus beef &amp; blue cheese crumbles 
			</p><!-- description -->
			
			<h4>Bayou Badass</h4>
			<p class="description">
				Splash of Tabasco topped with pepper jack, onion thangs, jalapeno &amp; fried green tomatoes 
			</p><!-- description -->
			
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Hick Burger</h4>
			<p class="description">
				Cheddar Jack cheese, Bonfires BBQ, bacon &amp; Onion Thangs
			</p><!-- description -->
			
			<h4>Rowdy Texan</h4>
			<p class="description">
				Topped with beef brisket, cheddar jack cheese, grilled onions &amp; jalapenos
			</p><!-- description -->
			
			<h4>Boy Howdy</h4>
			<p class="description">
				Overflowing with frilled mushrooms and Swiss cheese
			</p><!-- description -->
			
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Cracker Burger</h4>
			<p class="description">
				Pepper Jack cheese, jalapenos &amp; chipotle ranch
			</p><!-- description -->
			
			<h4>A-1 Masterpiece</h4>
			<p class="description">
				A-1 sauce, white American cheese &amp; grilled onions
			</p><!-- description -->
			
			<h4>Plain Ol’ Burger</h4>
			<p class="description">
				Choose from six different types of cheese of choose a second type for $.75
			</p><!-- description -->
			
		</div><!-- col3 -->
		
	  </div><!-- burgers -->
	  
	  <div id="sandwiches">
	    <h3>Sandwiches</h3>
	    
		<p class="intro">
			Served on a Kaiser with your choice of side item
		</p>
	
		<div class="col1">
			<h4>Bonfire Cracker</h4>
			<p class="description">
				Pulled chicken topped with jalapenos, pepper jack, onion thangs &amp; Bonfire BBQ on a Kaiser
			</p><!-- description -->
			
			<h4>Cane Po Catfish</h4>
			<p class="description">
				Lightly breaded &amp; fried catfish filet with lettuce, tomato &amp; bonfires sauce on a Kaiser
			</p><!-- description -->
			
			<h4>Notorious P.I.G.</h4>
			<p class="description">
				Jalapeno sausage with grilled peppers &amp; onion thangs
			</p><!-- description -->
			
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>The Pit Boss</h4>
			<p class="description">
				Pulled pork-brisket mix, Bonfire BBQ, Topped with Coleslaw &amp; pickles on a Kaiser
			</p><!-- description -->
			
			<h4>Brisket Philly</h4>
			<p class="description">
				Tender beef brisket with grilled onions &amp; mushrooms, white American cheese on a hoagie
			</p><!-- description -->
			
			<h4>Simple Pulled</h4>
			<p class="description">
				Your favorite simple sandwich with pulled pork or chicken
			</p><!-- description -->
			
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Blazin’ Brisket</h4>
			<p class="description">
				Slow-smoked beef brisket on a Kaiser
			</p><!-- description -->
			
			<h4>Prefect Prime</h4>
			<p class="description">
				Smoked prime rib, provolone cheese, grilled onions with a creamy horseradish sauce on a hoagie
			</p><!-- description -->
		
		</div><!-- col3 -->
	
	    
	  </div><!-- sandwiches -->
	  
	  <div id="sideItems">
	    <h3>Side Items</h3>
	    
		<div class="col1">
			<h4>Baked Beans</h4>
			
			<h4>Fried Okra</h4>
			
			<h4>Fireside Fiesta Corn</h4>
			
			<h4>Sweet Potato Casserole</h4>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Dirty Taters</h4>
			
			<h4>Mac N Cheese</h4>
			
			<h4>Green Beans</h4>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Curly Fries</h4>
			
			<h4>Creamy Coleslaw</h4>
			
			<h4>Grilled Mixed Viggies</h4>
		</div><!-- col3 -->
		
	    
	  </div><!-- sideItems -->
	  
	  <div id="sliders">
	    <h3>Sliders</h3>
	    
	    <p class="intro">
		Two sliders with your choice of side item
		</p>
		
		<div class="col1">
			<h4>Pork, chicken or Brisket</h4>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Combo-One of Each</h4>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Cheeseburger</h4>
			<p class="description">
				Choice of cheese, lettuce, tomato, onion &amp; pickles
			</p>
		</div><!-- col3 -->
	    
	  </div><!-- sliders -->
	  
	  <div id="melts">
	    <h3>Melts</h3>
	    
	    <p class="intro">
			Served on Texas Toast with choice of side item
		</p><!-- intro -->
		
		<div class="col1">
			<h4>The Big Blaze</h4>
			<p class="description">
				It’s all here – Pulled pork, chicken &amp; beef brisket, perfectly sauced with onions thangs &amp; melted cheeses stacked between four slices 
				of Texas toast
			</p>
			
			<h4>Kickin’ Chicken</h4>
			<p class="description">
				Pulled chicken topped with bacon, cheddar jack cheese and chipotle ranch
			</p>
			
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>The Oinker</h4>
			<p class="description">
				Pulled pork with Bonfires BBQ sauce, bacon &amp; white American cheese
			</p>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Brisket Meltdown</h4>
			<p class="description">
				Beef brisket with Bonfires BBQ sauce, grilled onions &amp; cheddar jack cheese
			</p>
		</div><!-- col3 -->
		
	  </div><!-- melts -->
	  
	  <div id="greens">
	    <h3>Greens and Soups</h3>
	 
	 	<div class="col1">   
			<h4>Brisket Bleu Wedge</h4>
			<p class="description">
				Beef brisket on an iceberg wedge with diced tomatoes &amp; bleu cheese crumbles
			</p>
			
			<h4>Southern Belle</h4>
			<p class="description">
				Iceberg lettuce topped with crispy fried chicken tenders, tomatoes, onions bacon &amp; cheese
				Side salad or Caesar
			</p>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Smoked Salmon Caesar</h4>
			<p class="description">
				Caesar salad with romaine lettuce, shredded parmesan &amp; fresh croutons, option to add pulled chicken
			</p>
			
			<h4>Brunswick Stew</h4>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Bonfire Salad</h4>
			<p class="description">
				Choice of pulled pork or chicken with onion thangs, tomatoes, cheddar jack cheese &amp; croutons
			</p>
			
			<h4>Soup of the day</h4>
		</div><!-- col3 -->
	    
	  </div><!-- greens -->
	  
	  <div id="bonfire">
	    <h3>From the Bonfire</h3>
	    
	    <p class="intro">
			Served with a side salad &amp; choice of side item
		</p>
		
		<div class="col1">
		<h4>Bonfire Bones Dinner</h4>
			<p class="description">
				Plate of our slow-smoked St. Louis Spare Ribs (full rack)
			</p>
			
			<h4>Campfire Feast</h4>
			<p class="description">
				The best of all worlds – Beef brisket, pulled pork, Chicken &amp; Bonfire bones
			</p>
			
			<h4>Smoked Salmon</h4>
			<p class="description">
				Seasoned &amp; slow-smoked filet
			</p>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Old Timer</h4>
			<p class="description">
				Your choice of pulled pork, chicken, or beef brisket
			</p>
			
			<h4>Half Chicken</h4>
			<p class="description">
				Seasoned &amp; slow-smoked
			</p>
			
			<h4>Hill Billy Hash</h4>
			<p class="description">
				Beef brisket, scrambled eggs, Dirty Taters, tomatoes, onions, green peppers &amp; cheddar jack cheese
			</p>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Two Timer</h4>
			<p class="description">
				Pick two – pulled pork, chicken or beef brisket
			</p>
			
			<h4>Prime Rib</h4>
			<p class="description">
				10oz smoked prime rib with Aus Jus
			</p>
		</div><!-- col3 -->
	    
	  </div><!-- bonfire -->
	  
	  <div id="goods">
	    <h3>Just the Goods</h3>
	    
	    <div class="col1">
	    	<h4>Beef Brisket - 8oz 1lb</h4>
	    	
	    	<h4>St. Louis Ribs</h4>
	    	
	    	<h4>Green Beans</h4>
	    	
	    	<h4>Sweet Potato Casserole</h4>
	    	
	    	<h4>Mac N Cheese</h4>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Pulled Pork/Chicken</h4>
			
			<h4>Baked Beans</h4>
			
			<h4>Fried Okra</h4>
			
			<h4>Curly Fries</h4>
			
			<h4>Grilled Mixed Veggies</h4>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Smoked Chicken – half</h4>
			
			<h4>Creamy Coleslaw</h4>
			
			<h4>Dirty Taters</h4>
			
			<h4>Fireside Fiesta Corn</h4>
		</div><!-- col3 -->
	    
	  </div><!-- goods -->
	  
	  <div id="little">
	    <h3>Lil' Ones</h3>
	    
	    <p class="intro">
			With your choice of side item &amp; drink <br />
			9 and under
		</p>
		
		<div class="col1">
			<h4>Bonfire Bones</h4>
			<p class="description">
				Two of our slow-smoked St. Louis Ribs
			</p>
			
			<h4>Chicken Fingers</h4>
			<p class="description">
				Grilled or southern fixed all white meat
			</p>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Mound O’ Meat</h4>
			<p class="description">
				Choice of pulled pork, chicken or beef brisket
			</p>
			
			<h4>Corn Dog </h4>
		</div><!-- col2 -->
		
		<div class="col3">
			<h4>Slider</h4>
			<p class="description">
				Choice of pulled pork, chicken or beef brisket
			</p>
		</div><!-- col3 -->
	    
	  </div><!-- little -->
	  
	  <div id="dessert">
	    <h3>Dessert</h3>
	    
	    <div class="col1">
		    <h4>Chocolate Smores Puddin’</h4>
			<p class="description">
				Chocolate pudding marshmallows and graham crackers
			</p>
			
			<h4>Crispy Cin Apple</h4>
		</div><!-- col1 -->
		
		<div class="col2">
			<h4>Nana Banana Pudding</h4>
		</div><!-- col2 -->
	
		<div class="col3">		
			<h4>Funnel Cake Fries</h4>
		</div><!-- col3 -->
		
	  </div><!-- dessert -->
	  
	  <div id="breakfast">
		
		<div id="classic" class="brkft">
			
			<h3>Classic Breakfast</h3>
			<p class="intro">
				All entrees are served with grits, hash browns, home fries, biscuits or toast
			</p>
			
			<div class="col1">
				<h4>Shaved Prime Rib &amp; Eggs</h4>
				
				<h4>Hill Billy Hash</h4>
				<p class="description">
					Scrambled eggs, home fries, cheddar cheese, peppers, onions &amp; jalapenos
				</p>
				
				<h4>Smoked Jalapeno Sausage</h4>
			</div><!-- col1 -->
			
			<div class="col2">
				<h4>Two Eggs</h4>
				<p class="description">
					Any style
				</p>
				
				<h4>Smoked Chicken or Pulled Pork</h4>
				
				<h4>Beef Brisket</h4>
			</div><!-- col2 -->
			
			<div class="col3">
				<h4>Meat &amp; Eggs</h4>
				<p class="description">
					With bacon, sausage links or patty
				</p>
				
				<h4>Add a short stack for $2.99</h4>
			</div><!-- col3 -->
			
		</div><!-- classic -->
	
		<div id="breakfastSandwich" class="brkft">
			
			<h3>Breakfast Sandwiches</h3>
			<p class="intro">
				Served on Texas Toast with hash browns or home fries &amp; grits
			</p>
			
			<div class="col1">
				<h4>Eggs &amp; Cheese</h4>
				<p class="description">
					With bacon, sausage patty, pulled pork, beef brisket or shaved prime rib
				</p>
			</div><!-- col1 -->
			
			<div class="col2">
				<h4>Bonfires “The Works” </h4>
				<p class="description">
					Pulled pork, bacon, brisket, home fries, lettuce &amp; tomato
				</p>
			</div><!-- col2 -->
			
		</div><!-- breakfastSandwich -->
	
		<div id="pancakes" class="brkft">
			
			<h3>Fluffy Pancakes</h3>
			<p class="intro">
				Multigrain available
			</p>
			
			<div class="col1">
				<h4>Short Stack (3)</h4>
				<p class="description">
					With bacon or sausage links/patty 
				</p>
			</div><!-- col1 -->
			
			<div class="col2">
				<h4>Tall Stack (5) </h4>
				<p class="description">
					With bacon, sausage Links/Patty or jalapeno sausage
				</p>
			</div><!-- col2 -->
			
			<div class="col3">
				<h4>Flavored Pancakes</h4>
				<p class="description">
					Blueberry or chocolate chips
				</p>
			</div><!-- col3 -->
			
		</div><!-- pancakes -->
	
		<div id="omelette" class="brkft">
			
			<h3>Omelettes</h3>
			<p class="intro">
				Three eggs with grits, home fries, or hash browns &amp; biscuit or toast
			</p>
			
			<div class="col1">
			<h4>Three cheese</h4>
				<p class="description">
					With bacon, sausage, jalapeno Sausage, pulled pork, beef brisket, and/or extra Toppings
				</p>
			</div><!-- col1 -->
			
		</div><!-- omelette -->
	
		<div id="specialties" class="brkft">
			
			<div class="col1">
				<h3>Specialtes and Sides</h3>
				
				<h4>Shrimp &amp; Grits</h4>
				
				<h4>Smoked Jalapeno Sausage</h4>
				
				<h4>Biscuit $1.99</h4>
			</div><!-- col1 -->
			
			<div class="col2">
				<h4>Biscuit &amp; Gravy</h4>
				
				<h4>French Toast</h4>
				
				<h4>Grits $1.99</h4>
				
				<h4>Bacon Strips (3) $1.99</h4>
			</div><!-- col2 -->
			
			<div class="col3">
				<h4>Brisket &amp; Gravy</h4>
				
				<h4>Sausage Patties (2) or Sausage Links (3)</h4>
				
				<h4>Egg $.99</h4>
				
				<h4>Toast $.99</h4>
			</div><!-- col3 -->
			
		</div><!-- specialties -->
	    
	  </div><!-- breakfast -->

	  
	</div><!-- tab-container -->
		
		
		

		

		
			
		
			
		
			
			
			
			
		
		
			
		
			
	
	
	
</div><!-- content -->