<div id="content">
		
	<h2>Bonfires Specials</h2>
	
	<div id="happyHour">
		
		<h3>Happy Hour</h3>
		
		<h4>Monday-Friday 4-7 and Late night 10-close</h4>
		<ul id="HHour">
			<li class="specialText">$3.50 Double tall well drinked - $5.00 Double tall calls</li>
			<li class="specialText">$2.50 Domestic Pints</li>
			<li class="specialText">$3.00 Domeestic Bottles</li>
			<li class="specialText">$3.00 House Wine</li>
			<li class="specialText">$3.00 "Happy House Menu" Appetizers: Corn Thangs - Corn Nuggets - Chicken or Pork Sliders</li>
		</ul>

	</div><!-- happyHour -->
	
	<img id="specialImg" src="images/place-holder/mainspecial.gif" alt="Daily specials are all day and all night" />
	
	<div id="days">
		
		<div id="sunday">
			
			<h3>Sunday</h3>
			
			<p>$6.50 Miller Lite/Coors Light Pitchers</p> <br />
			<ul class="buckets">
				<li class="specialText">Miller Lite - Coors Light (mix or match)</li>
			</ul>
			
		</div><!-- sunday -->
		
		<div id="monday">
			
			<h3>Monday</h3>
			
			<p>$6.50 Bud Light Pitchers</p><br />
			
			<p>Buckets 4 for $9.95</p>
			<ul class="buckets">
				<li class="specialText">Bud - Bud Light (mix or match)</li>
			</ul>
			
		</div><!-- monday -->
		
		<div id="friday">
			
			<p>Buckets 4 for $8.00 PBR 16oz Tall Boys</p><br />
			
			<p>$8.95 Bacardi Buckets</p>
			
		</div><!-- friday -->
		
		<div id="saturday">
			
			<p>Buckets 4 for $8.00 Ice House Bottles</p><br />
			
			<p>2 for $5.00 Miller Light/Coors Light Pints</p><br />
			
			<p>$5.00 Double Bacardi and Bacardi Flavors</p>
			
		</div><!-- saturday -->
	
	</div><!-- days -->
	
	<div id="images">
		
		<img src="images/place-holder/specials.gif" alt="beer" /><br />
		
		<img src="images/place-holder/specials.gif" alt="more beer" />
		
	</div><!-- images -->
	
</div><!-- content -->